<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row bg-info">
  <a aria-label="NG Bootstrap"
     class="navbar-brand"
     href="/">
    <img [src]="logo" style="width: 75px" class="position-fixed d-none d-md-inline-block" alt="logo"/>
    <div class="d-none d-md-inline-block" style="padding-left: 90px"></div>
    <h3 class="d-inline m-2">Book<span class="opacity-50">Store</span></h3>
  </a>
  <span class="nav-item text-white d-none d-md-inline-block">|</span>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" href="#/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#/getting-started">Getting Started</a></li>
      <li class="nav-item"><a class="nav-link" href="#/guides">Guides</a></li>
    </ul>
  </div>
  <span class="spacer"></span>
  <button class="btn btn-lg btn-outline-primary nav-item" (click)="open(content)">Cart</button>
</header>
<fusionize-mount-place location="main-content"></fusionize-mount-place>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <span>{{ config | json }}</span>

    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form>
    <div class="text-end">
      <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
    </div>
  </div>
</ng-template>
